<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../template/head.ejs") %>
    <link rel="stylesheet" href="css/telas-instrutores/avaliacao.css">
    <script src="js/index.js"></script>

    <title>Avaliação</title>
</head>

<body>
    <main>
        <%- include("../template/nav-bar.ejs") %>
        <div class="box-content">
            <form action="cadastro-prova" method="post">
                <div class="card-prova">
                    <div class="add-avaliacao">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Adicionar Prova
                        </button>
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Informações sobre a prova:</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <div class="mb-3 forms">
                                        <label class="form-label">Nome da prova:</label>
                                        <input type="text" class="form-control" placeholder="nome da prova" name="nome">
                                    </div>
                                    <div class="mb-3 forms">
                                        <select style="width: 100%;" id="inputTurma" class="form-select" name="disciplina">
                                            <option selected>selecione a disciplina</option>
                                            <% for (let i=0; i<disciplinas.length; i++) { %>
                                                <option value='<%= disciplinas[i].Disciplina_ID %>'> <%= disciplinas[i].Nome %> </option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="mb-3 forms">
                                        <select style="width: 100%;" id="inputTurma" class="form-select" name="turma">
                                            <option selected>selecione a turma</option>
                                            <% for (let i=0; i<turmas.length; i++) { %>
                                                <option value='<%= turmas[i].Turma_ID %>'> <%= turmas[i].Nome %> </option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="mb-3 forms">
                                        <select style="width: 100%;" id="inputTurma" class="form-select" name="recuperacao">
                                            <option value="false" selected> nao</option>
                                            <option value="true"> sim </option>

                                        </select>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="provas" style="overflow-y:scroll;">
                <% for (let i=0; i<provas.length; i++) { %>
                    <div class="prova">
                        <b><%= provas[i].Nome %></b>
                        <b>
                            <%= disciplinas[i].Nome %>
                        </b>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
</body>

</html>