<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../template/head.ejs") %>
    <link rel="stylesheet" href="/css/telas-instrutores/cadastro.css">
    <title>Cadastrar</title>

<body>
    <!-- <div id="sidAndMain"> -->
    <main>
        <%- include("../template/nav-bar.ejs") %>
        <div class="box-content">
            <div class="col">
                <div class="card">

                    <div class="card-top">
                        
                            <div class="opcoesCadastro" onclick="showTurma()">Turmas </div>
                            <div class="opcoesCadastro" onclick="showUsuario()">Usuários </div>
                            <div class="opcoesCadastro" onclick="showDisciplina()">Disciplinas </div>
                            <div class="opcoesCadastro" onclick="showConteudo()">Conteúdos </div>
                            <div class="opcoesCadastro" onclick="showAula()">Aulas </div>
                        
                    </div>

                    <div class="card-body" id="cardBody">
                        <%- include("parts/formsTurma.ejs") %>
                        <%- include("parts/formsUsuario.ejs") %>
                        <%- include("parts/formsDisciplina.ejs") %>
                        <%- include("parts/formsConteudo.ejs") %>
                        <%- include("parts/formsAula.ejs") %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/index.js"></script>



</body>

</html>