<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../template/head.ejs") %>
	<link rel="stylesheet" href="/css/telas-instrutores/lista-alunos.css">
	<title>Document</title>
</head>
<body>
	<main>
		<%- include("../template/nav-bar.ejs") %>
		<div class="box-content">
			<% for(let m = 0; m < listaAlunos.length; m++) { %>
				<form action="/prova-alunos/<%= provaID.Prova_ID %>/<%= listaAlunos[m].EDV%>" method="get">
					<div class="box-aluno">
						<button type="submit" class="btn btn-primary info-aluno" data-bs-toggle="modal" data-bs-target="#exampleModal">
							<b><%= listaAlunos[m].EDV %></b>
							<b><%= listaAlunos[m]["Turma"].Nome %></b>
							<b><%= listaAlunos[m].Nome %></b>
						</button>
					</div>	
				</form>
			<%}%>
		</div>
	</main>
</body>
</html>