<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../template/head.ejs") %>
	<link rel="stylesheet" href="/css/telas-instrutores/lista-alunos.css">
	<title>Document</title>
</head>
<body>
	<main>
		<%- include("../template/nav-bar.ejs") %>
		<div class="box-content">
			<div id="form2">

				<div class="legenda">

					<div id="btn-legenda">
						<b class="legendas">EDV:</b>
						<b class="legendas disciplina">Turma:</b>
						<b class="nomeProva">Nome do aluno:</b>
					</div>
				</div>
				<div class="alunos">
					<% for(let m = 0; m < listaAlunos.length; m++) { %>
						<form action="/prova-alunos/<%= provaID.Prova_ID %>/<%= listaAlunos[m].EDV%>" method="get">
							<div class="prova">
								<button type="submit" class="btn botaoProvas" data-bs-toggle="modal" data-bs-target="#exampleModal">
									<b class="infoProvas"><%= listaAlunos[m].EDV %></b>
									<b class="infoProvas"><%= listaAlunos[m]["Turma"].Nome %></b>
									<b><%= listaAlunos[m].Nome %></b>
								</button>
							</div>
						</form>
					<%}%>
				</div>
			</div>
		</div>
	</main>
</body>
</html>