<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../template/head.ejs") %>
    <link rel="stylesheet" href="/css/telas-instrutores/prova-alunos.css">
    <script src="/js/prova-alunos.js"></script>

    <title>Document</title>
</head>
<body>
    <main>
        <%- include("../template/nav-bar.ejs") %>
        <div class="box-content">
            <form id="form" action="/cadastro-questao/<%= nomeProva.Prova_ID %>/<%= alunos[0].EDV %>" method="post">
                <input value="1" name="nome" hidden>
                <div class="card-questao">
                    <div class="add-questao">
                        <button type="button" class="btn botaoQuestao" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <b>Adicionar Questão</b>
                        </button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <div id="desc-questao">
                                        <h5 class="modal-title" id="exampleModalLabel" name="nome" value="#numQuestao" >Questao: <span id="numQuestao"></span> </h5>
                                        <h6 value="<%= nomeProva.Prova_ID %>" name="prova"> <%= nomeProva.Nome %></h6>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <div class="mb-3 forms">
                                        <label class="form-label">Review: </label>
                                        <textarea class="form-control" aria-label="With textarea" name="review"></textarea>
                                    </div>
                                    <div class="mb-3 forms">
                                        <label class="form-label">Correção: </label>
                                        <textarea class="form-control" aria-label="With textarea" name="correcao"></textarea>
                                    <div id="pe">
                                        <div id="nota">
                                            <div class="mb-3 forms">
                                                <label class="form-label">Nota do aluno: </label>
                                                <input type="text" class="form-control" name="notas_questao">
                                            </div>
                                            <div class="mb-3 forms">
                                                <label class="form-label">Valor da questão: </label>
                                                <input type="text" class="form-control" name="valor_questao">
                                            </div>
                                        </div>
                                        <div id="conteudos">
                                            <div class="mb-3 caixas">
                                                <label for="nome" class="form-label">Conteudo:</label>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                      Selecione os Conteúdos
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <% for (let i=0; i<conteudos.length; i++) { %>
                                                            <li >
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value='<%= conteudos[i].Conteudo_ID %>' name="conteudo" id="flexCheckChecked">
                                                                    <label class="form-check-label" for="flexCheckChecked">
                                                                        <%= conteudos[i].Nome %>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        <% } %>
                                                    </ul>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                                    <button type="submit" onclick="adiciona()" class="btn btn-primary">Criar questão</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="form2">
                <div class="legenda">
                    <div id="btn-legenda">
                        <b><%= alunos[0].Nome  %> ></b>
                        <b><%= nomeProva.Nome %> </b>
                    </div>
                 </div>

                <div class="questoes">
                    <% for (let i=0; i<viewQuestao.length; i++) { %>
                        <div class="questao">
                            <button class="btn botaoQuestoes">
                                <div class="teste">
                                    <div class="legendaQuestao"><b>Questao: <%= viewQuestao[i].Nome %></b></div>
                                    <div class="legendaPreview"><b>Preview: <%= viewQuestao[i].Review %></b></div>
                                </div>
                                <div class="legendaNota"><b>Nota: <%= viewQuestao[i].Nota_Questao %>/<%= viewQuestao[i].Valor_Questao %></b></div>
                            </button>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/prova-alunos.js"></script>
</body>

</html>